#progress-container {
  display: none;
}
#progress {
  width: 100%;
  background-color: grey;
  text-align: right;
  color: white;
}

#download-bar {
  width: 0%;
  height: 20px;
  background-color: green;
}

#progress-msg {
  font-style: italic;
}

#progress-total {
  display: block;
  clear: both;
  float: right;
}

#fields {
  display: none;
}
